<header>
  <div id="search-bar">
    <div class="container">
      <div class="row">
        <form action="#" name="search" class="col-xs-12">
          <input vk_10e23="subscribed" name="search" placeholder="Type and Hit Enter" type="text">
          <i id="search-close" class="fa fa-close"></i>
        </form>
      </div>
    </div>
  </div>

  <nav class="navigation nav-scroll">
    <div class="container">
      <div class="row">
        <div class="logo-wrap col-md-3 col-xs-6">
          {%  link_to home %}
            {{ 'logo.png' | theme_image_tag: 'alt:Empire Park Community League' }}
          {% endlink_to %}
        </div>
        <div class="menu-wrap col-md-8 ">
          <ul class="menu">
            <li>
              Programs & Events
            </li>
            <li>
              Volunteers
            </li>
            <li>
              Purchase a Membership
            </li>
            <li>
              <a href="/rentals">Rentals</a>
            </li>
            <li>
              <a href="members.html">Members Portal</a>
            </li>
            {% comment %}
              <li>
                <span>Rentals</span>
                <ul class="submenu">
                  <li>
                    <a href="link1.html">Link 1</a>
                  </li>
                  <li>
                    <a href="link2.html">Link 2</a>
                  </li>
                  <li>
                    <a href="link3.html" class="active">Link 3</a>
                  </li>
                </ul>
              </li>
            {% endcomment %}
          </ul>
        </div>
        <div class="col-md-1 col-xs-6">
          <div id="menu-toggle">
            <i class="fa fa-bars"></i>
          </div>

          {% comment %}
          <div id="search-toggle">
            <i class="fa fa-search"></i>
          </div>
          {% endcomment %}
        </div>
      </div>
    </div>
  </nav>
</header>
