// header
header {
  display: block;
  position: fixed;
  backface-visibility: hidden;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.navigation {
  background: $white;
  box-shadow: 0 0 8 0 $shadow-normal;

  .row {
    position: relative;
  }

  .logo-wrap {
    padding: 20px 15px;
  }

  .menu-wrap {
    padding: 28px 0 0;

    .menu {
      float: right;

      li {
        display: inline-block;
        margin: 0 20px;
        padding-bottom: 29px;
        position: relative;

        a,
        span {
          color: $body-color;
          cursor: pointer;
          display: block;
          font-size: 14px;
          position: relative;
          transition: all .2s ease-out;

          &:hover {
            color: $brand-primary;
          }
        }

        &.active {
          border-bottom: 3px solid $brand-primary;

          a,
          span {
            padding-bottom: 0;
            color: $brand-primary;
            z-index: 5;
          }

          &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -5px;
            display: block;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 8px solid $brand-primary;
          }
        }

        .submenu {
          display: none;
          position: absolute;
          left: 0;
          width: 200px;
          top: 52px;
          background: $brand-primary;
          box-shadow: 0 0 4 0 $shadow-weak;

          li {

            a {
              border-bottom: 1px solid fade-out($body-color, 0.15);
              border-left: 2px solid transparent;
              color: $white;
              display: block;
              padding: 15px 10px;

              &:hover {
                border-left: 2px solid $white;
                color: $white;
              }
            }
          }
        }
      }
    }
  }

  #search-toggle,
  #menu-toggle {
    height: 30px;
    width: 30px;
    background: $brand-primary;
    border-radius: 3px;
    float: right;
    color: #fff;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    margin: 25px 0;
    transition: all .2s linear;
    &:hover {
      background: $body-color;
    }
  }

  #menu-toggle {
    display: none;
    margin-left: 20px;
  }

  &.nav-scroll {
    height: 72px;
    .logo-wrap {
      padding: 15px;
    }
    .menu-wrap {
      padding: 21px 0 0;
      .menu {
        &>li {
          padding-bottom: 24px;

          .submenu {
            top: 44px;
          }
        }
      }
    }

    #search-toggle,
    #menu-toggle {
      margin: 17px 0;
    }

    #menu-toggle {
      margin-left: 20px;
    }
  }

  @media screen and (max-width:991px) {
    &.nav-scroll {
      .menu-wrap {
        padding-top: 0;
        .menu {
          &>li {
            padding-bottom: 0;
          }
        }
      }
    }
    .menu-wrap {
      position: absolute;
      top: 100px;
      right: 15px;
      width: 210px;
      padding: 0;
      background: #fff;
      box-shadow: 0 0 8 0 $shadow-weak;
      display: none;

      &.open {
        display: block;
      }

      .menu {
        padding-right: 0;
        float: none !important;
        margin-right: 0 !important;
        &>li {
          display: block;
          margin: 0;
          padding-bottom: 0;
          border-bottom: 1px solid fade-out($body-color, 0.25);
          &.active {
            padding-bottom: 0;
            &::before {
              display: none;
            }
          }
          a,
          span {
            margin: 0;
            float: none;
            padding: 10px 15px;
          }
          .submenu {
            position: static;
            margin: 0;
            width: 210px;
          }
        }
      }
    }

    #menu-toggle {
      display: block;
    }
  }
}


/* Search Bar */

#search-bar {
  position: relative;
  display: none;
  width: 100%;
  background: #fafafa;
  z-index: 9999;
  .container {
    position: relative;
  }
  input {
    background: none;
    height: 55px;
    width: 100%;
    padding-right: 55px;
    color: fade($body-color, 85%);
  }
  i {
    text-align: center;
  }
  #search-close {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 55px;
    height: 55px;
    width: 55px;
    background: none;
    cursor: pointer;
    color: $brand-primary;
  }
  &.on {
    display: block;
  }
}
