.page-banner {
  position: relative;
  // margin-top: 73px;
  height: 235px;
  padding-top: 91px;
  background: url('../images/bg-tops/img-2.jpg') center center no-repeat;
  .title {
    position: relative;
    z-index: 10;
    h2,
    h5 {
      color: $white;
    }
    h5 {
      i {
        margin: 0 6px;
      }
    }
  }
}
