.causes-wrapper {
  padding: 105px 0;
  background: #fcfcfc;
  position: relative;
  .causes {
    text-align: center;
    padding-top: 75px;
  }
  .causes-filter {
    display: inline-block;
    li {
      display: block;
      position: relative;
      float: left;
      margin: 10px 10px;
      padding: 0 15px;
      height: 26px;
      line-height: 26px;
      border-radius: 3px;
      background: $grey-one;
      @include font-1-regular;
      font-size: 14px;
      color: $text-base;
      cursor: pointer;
      &:after {
        content: "";
        position: absolute;
        bottom: -6px;
        left: 50%;
        margin-left: -6px;
        display: block;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid transparent;
      }
      &.selected,
      &:hover {
        background: $base;
        color: #fff;
        transition: all 0.5s ease;
      }
      &.selected {
        &:after {
          border-top: 6px solid $base;
        }
      }
    }
  }
  .causes-list {
    text-align: left;
    margin-top: 40px;
  }
  .btns-wrapper {
    margin-top: 35px;
  }
  @media screen and (max-width:650px) {
    .cause-wrapper {
      width: 100%;
    }
  }
}

.causes-page-wrapper {
  padding: 0px 0 85px;
  background: #fcfcfc;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
  .top-bar {
    padding: 15px 0;
    // height: 65px;
    margin: 0 0px;
    background: $base;
    h4 {
      @include font-2-regular;
      color: #fff;
      padding: 14px 0;
    }
    .filter {
      position: relative;
      padding: 10px 0;
      @include font-2-regular;
      .causes-filter-top {
        span,
        i {
          display: block;
          float: left;
          color: $white;
          font-size: 16px;
        }
        i {
          margin: 4px 0 0 5px;
        }
      }
      ul {
        position: absolute;
        top: 35px;
        background: #fff;
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.18);
        z-index: 8888;
        display: none;
        .invisible {
          z-index: -1;
        }
        li {
          padding: 8px 12px;
          margin: 0px 0;
          cursor: pointer;
          font-size: 14px;
          color: $text-base;
          &:first-child {
            margin-top: 0;
          }
          &:last-child {
            margin-bottom: 0;
          }
          &:hover,
          &.selected {
            background: $base;
            color: #Fff;
          }
        }
        &.on {
          display: block;
        }
      }
    }
    .search {
      display: block;
      width: 100%;
      height: 100%;
      .field {
        display: block;
        height: 45px;
        width: 100%;
        input {
          display: block;
          width: 100%;
          height: 100%;
          background: #fff;
          padding: 0 55px 0 15px;
          @include font-2-regular;
          font-size: 14px;
          color: $text-base;
          opacity: 1;
          border-radius: 3px;
        }
        button {
          display: block;
          width: 55px;
          height: 100%;
          position: absolute;
          top: 0;
          right: 15px;
          // text-align: center;
          background: none;
        }
      }
    }
    .view-options {
      float: right;
      padding: 10px 0;
      span,
      a {
        display: block;
        float: left;
      }
      span {
        font-size: 16px;
        color: #fff;
        @include font-2-regular;
        margin-right: 10px;
      }
      a {
        font-size: 16px;
        color: #fff;
        margin: 2px 5px 0;
        opacity: .7;
        &.active {
          opacity: 1;
        }
      }
    }
  }
  .info {
    margin: 50px 0 20px;
    h3 {
      @include font-2-regular;
      color: fade(#000, 55%);
    }
  }
  .cause {
    &.no-bg {
      margin-bottom: 50px;
      &.last-cause {
        margin-bottom: 0;
      }
    }
    .info-block {
      .btn {
        display: inline-block;
        float: left;
      }
      h5,
      h3,
      .short-stats {
        display: inline-block;
      }
      &.list {
        padding: 0 15px;
        .meta {
          margin-bottom: 10px;
        }
        .foundings {
          margin: 45px 0 35px;
        }
        .short-stats {
          float: right;
          h5 {
            margin-top: 0;
          }
        }
      }
      .btn {
        margin-right: 20px;
      }
    }
  }
  .pagination-wrapper {
    margin-top: 50px;
    text-align: center;
  }
  @media screen and (max-width:991px) {
    .cause {
      .info-block {
        .btn,
        h3,
        .short-stats {
          float: none;
        }
        &.list {
          .short-stats {
            float: none;
            margin-left: -10px;
          }
        }
      }
    }
  }
  @media screen and (max-width:767px) {
    .cause {
      .info-block {
        &.list {
          .meta {
            margin-top: 30px;
          }
        }
      }
    }
  }
  @media screen and (max-width:650px) {
    .top-bar {
      .col-xs-6 {
        width: 100%;
      }
      .view-options {
        float: none;
      }
    }
    .cause-wrapper {
      width: 100%;
    }
  }
}

.causes-page-wrapper.single-cause {
  padding: 85px 0 0;
  .meta {
    text-align: center;
    .short-stats {
      margin-top: 15px;
    }
  }
  .image-wrapper {
    margin: 35px 0;
  }
  .foundings {
    width: 70%;
    float: left;
  }
  .btn {
    float: right;
  }
  .info-block {
    margin-top: 35px;
    padding-top: 25px;
    border-top: 1px solid $grey-two;
    p {
      margin-top: 10px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  .gallery-wrapper {
    margin-top: 65px;
    p {
      margin: 25px 0 15px;
    }
  }
  .donation-wrapper {
    margin-top: 50px;
    background: #f2f2f2;
    padding: 50px 0 85px;
    .tabs-switcher {
      border-bottom: 1px solid $grey-one;
      li {
        display: block;
        float: left;
        margin-right: 25px;
        &:first-child {
          margin-left: 0;
        }
        a {
          position: relative;
          bottom: -1px;
          padding-bottom: 16px;
          color: $text-base-2;
          border: none;
          background: none;
          i {
            margin: 0 5px;
          }
        }
        &.active {
          a {
            // background: $base;
            border-bottom: 2px solid $base;
            color: $base;
          }
        }
      }
    }
    .tab-content {
      margin-top: 25px;
    }
  }
  @media screen and (max-width:550px) {
    .donation-wrapper {
      .tabs-switcher {
        li {
          display: block;
          float: none;
        }
      }
    }
  }
}
