.job-posting {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 10px;
  }

  ul {
    list-style: none;
    padding: 0;
  }
  li {
    margin-left: 10px;
    padding-left: 1.3em;
    font-size: inherit;
  }
  li::before {
    content: '\f101'; /* FontAwesome Unicode */
    color: $base;
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
  }

  .card-title {
    display: inline-block;
    margin-left: 0.5rem;
  }

  .tag {
    margin-left: 0.5rem;
  }
}

.job-list {
  background: $white;
  margin-bottom: 3rem;
}

.job-category {
  @include font-1-bold;
  background: #2879d7;
  color: $white;
  margin-bottom: 0.5rem;
  padding: 0.8rem;
  // border-color: $grey-two
}
