// Variables
$base: #1e90ff;
$text-base: #383838;
$text-base-2: #4a4a4a;
$secondary-color: #24282f;
$grey-one: #ebebeb;
$grey-two: #e5e5e5;
$site-background: #fcfcfc;
$white: #fff;
$black: #000;
$footer-bar: #161719;
$footer-section: #1e2024;
$shadow-weak: rgba(0, 0, 0, 0.12);
$shadow-normal: rgba(0, 0, 0, 0.2);
