section .segment {
  min-height: 520px;
  padding: 100px 0 105px;
  background: $body-bg;
}

section .segment .title {
  text-align: center;
  margin-bottom: 2em;
  h2 {
    text-transform: uppercase;
    color: $body-color;
    margin-bottom: 10px;
  }
  h5 {
    display: inline-block;
    position: relative;
    z-index: 8888;
    padding: 0 15px;
    font-size: 16px;
    color: $body-color-alt;
  }
}

.short-text {
  display: inline-block;
  position: relative;
  .sep {
    display: inline-block;
    position: absolute;
    top: 50%;
    height: 1px;
    width: 22px;
    background: $brand-primary;
    z-index: 1;
    &.l {
      left: -25px;
    }
    &.r {
      right: -25px;
    }
  }
}
